@{
    ViewData["Title"] = "About Us";
}
<h3>@ViewData["Title"]</h3>


<div class="a text-center border">
    <div class="row">
<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Who are We?</h5>
        <p class="card-text">We are a new lottery with potential for big profits in products. Beta Lottery offers a totally new style compared to any activity of this type.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">What We do?</h5>
        <p class="card-text">We offer you the opportunity to participate in draws for various products starting with only $1. With us you can be a big winner at a very low cost.</p>
      </div>
    </div>
  </div>
</div>
</div>
