@{
    ViewData["Title"] = "Contact Us";
}
<h3>@ViewData["Title"]</h3>

<div class="a text-center">
    <div class="row">
            <h6>Email : <a href="#">beta@lottery.al</a></h6>
            <h6>Phone : +355 68 333 4534</h6>
            <h6>You can visit us at our Backoffice : "Rr.Haxhi Kika, Komiuna Parisit, 1020, Tirane, Albania</h6>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.5826363682168!2d19.8035145152743!3d41.31794230826056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135030557769c83b%3A0x2991f82e55ad025f!2sRruga%20Haxhi%20Kika%2C%20Tirana%2C%20Albania!5e0!3m2!1sen!2s!4v1664294927619!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        </div>